
*{
font-family: 'Verdana';
}
body{
    margin: 0;
}

/*---Encabezado---*/
.encabezado
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.encabezado img{
    max-height: 50px;
}
.encabezado h1{
    margin: 0;
}
.contenedor-menu-carrito{
    display: flex;
    align-items: center;
}
/*---Anidar---*/
.encabezado {
    & span{
        padding: 15px 8px;
        background-color: black;
        border-radius: 5px;
    }
    & a{
        text-decoration: none;
        color: white;
    }
}
.contenedor-menu{
    & span:hover{
        background-color: white;
    }
    & a:hover{
        color: black;
    }
}
